<h1>Events</h1>

<ul>
  <% @events.items.each do |event| %>
    <li id="event_<%= event.id %>">
      <%= link_to event.summary, event_path(id: event.id) %>
      <span><%= event.start.date_time %> - <%= event.end.date_time %></span>
      <%= link_to "Update", edit_event_path(event.id) %>
      <%= form_with url: event_path(event.id), method: :delete, data: { turbo_confirm: "Are you sure you want to delete this event?" }, local: false do %>
        <%= submit_tag "Delete", data: { turbo_confirm: "Are you sure you want to delete this event?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
