<h1><%= @event.summary %></h1>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start.date_time %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end.date_time %>
</p>

<%= link_to 'Back to Events', events_path(calendar_id: params[:calendar_id]) %>
